.venv/
.ruff_cache/
.idea/

__pycache__

output/

.git/
.gitignore

*.log

*.db
*.env

.env
.env.sample

src/demo/.env
src/demo/.env.sample
src/demo/orchestration/*.xlsx

*.xlsx
*.csv

Dockerfile

.dockerignore