.venv/
backend/.ruff_cache/
.idea/

__pycache__

backend/output/

.git/
.gitignore

*.log

*.db
*.env

.env
.env.sample

demo/.env
demo/.env.sample
src/demo/orchestration/*.xlsx

*.xlsx
*.csv

backend/Dockerfile

.dockerignore